<div class="signup">
  <div class="panel panel-default">
    <div class="panel-heading">Sign Up</div>
    <div class ="col-md-6 col-md-offset-3">
      <div class="panel-body">
        <form action="/signup" method="POST">
          <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="email" class="form-control" id="username" placeholder="Username" name="username">
          </div>
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <label for="lastNameInput">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName">
          </div>
          <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth">
          </div>
          
          <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="password"  placeholder="Password" name="password">
          </div>
          <!-- <% if (typeof(message) != "undefined") { %> -->
            <!-- <div class="alert alert-danger" role="alert"><%= message %></div> -->
          <!-- <% } %> -->
          <% if ( message != "" ) { %>
            <div class="alert alert-danger" role="alert"><%= message %></div>
          <% } %>
          <button type="submit" class="btn-primary btn-block">Submit</button>
        </form>

      </div>
      <div>
      Have an account already?
        <a href="/login">
          Log in!
        </a>
      </div>
    </div>
  </div>

</div>
