
<div class="container-fluid">
  <form action="/errorApply" method="POST">

    <div id='alert' class="alert alert-danger">
      <strong>Upps!</strong> You cannot apply for your own job!
    </div>
</form>


    <div>
      <a href="/job/jobpostings">
        Find Another Job
  <br>
  <br>
      <a href="/dashboard">
        Return to Dashboard
      </a>
    </div>

    </div>
