
<div class="container-fluid">
  <form action="/errorApply" method="POST">

    <div id='alert' class="alert alert-danger">
      <strong>Upps!</strong> You cannot apply for your own job!
    </div>
</form>
  <div class="col-md-8 col-md-offset-2" >


      <a href="/job/jobpostings">
        Find Another Job
      </a> <br>
      <a href="/dashboard">
        Return to Dashboard
      </a>

    </div>
    </div>
