<div class="secret">
<h1>Welcome <%= user.name %> ! </h1>


<%# <div class= "profile-picture">
<section>
  <h2>Upload your Profile Picture</h2>
  <form class = "profile-upload" action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="file">
    <input type="submit" value="Save">
  </form>
</section>
<div>%>

</code></pre>
</div>
