/*.background-image{
  background-image: url('../images/temploy.jpg');
  background-repeat: no-repeat;

  display: block;
  height: 350px;
  background-size: 100%;
}*/



body {
  padding: 10px;
  font: 1.000em "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #44b6c3;
}


.first-slide{
  width:100%;
}

.logo{
  width:25%;
  height: 35px;
  margin-top: -5px;

}

.navbar {
  opacity: 0.9;

}

.navbar-brand{
  color: #44b6c3;
}

.panel-heading{
  text-align: center;
  font-weight: bold;
}



p{
  font-weight: bold;
  text-align: center;
  font-size: 2.143em;
  font-family: 'Rubik', sans-serif;

  color: rgb(255, 255, 255);
  /*background-color: rgb(120, 120, 120);*/
  text-shadow: rgb(3, 3, 3) 4px 3px 3px;
}

.button-index{
  width:25%;
  height: 50px;
  background-color: rgba(56, 209, 211, 0.8);
  border: 2px solid rgba(56, 209, 211, 0.8);
  border-radius: 10px;
  font-size: 1.429em;
  font-family: 'Rubik', sans-serif;
  box-shadow: 15px 17px 16px #333333;
}


.btn-signup{
  float: left;
  margin-right: 5px;
}

.col-md-12{
  background-color: rgba(56, 209, 211, 0.8);
  height: 600px;
  /*margin-top: 109px;*/
}



.btn-primary{
  height: 30px;
}

/*Secret*/

h1{
  text-align: center;
  color: white;
  font-size: 3.143em;
}


.panel{
  color: rgba(7, 56, 71, 1);
}

.btn{
  margin-top: 10px;
  color: white;
  width:48%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.429em;
  font-family: 'Rubik', sans-serif;
  box-shadow: 15px 17px 16px #333333;
}

.btn-postJob{
  float: left;
  margin-right: 18px;
  background-color: rgba(72, 242, 174, 1);
}

.btn-requestJob{
  clear: both;
  background-color: rgba(7, 56, 71, 1);
}
