/*.background-image{
  background-image: url('../images/temploy.jpg');
  background-repeat: no-repeat;

  display: block;
  height: 350px;
  background-size: 100%;
}*/

body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}


.carousel-inner img{
  width:120%;
}

body {
  padding: 10px;
  background-color: rgba(56, 209, 211, 0.8);
  font: 1.000em 'Rubik', sans-serif;
}


a {
  color: #44b6c3;
}


.first-slide{
  width:100%;
}

.logo{
  width:20%;
  height: 35px;
  margin-top: -5px;

}

.navbar {
  opacity: 0.9;

}

.navbar-brand{
  color: #44b6c3;
}

.panel-heading{
  text-align: center;
  font-weight: bold;
}



/*p{
  font-weight: bold;
  text-align: center;
  font-size: 2.143em;*/
  /*font-family: 'Rubik', sans-serif;*/

  /*color: rgb(255, 255, 255);
  text-shadow: rgb(3, 3, 3) 4px 3px 3px;*/
/*}*/

.button-index{
  width:25%;
  height: 50px;
  background-color: rgba(56, 209, 211, 0.8);
  border: 2px solid rgba(56, 209, 211, 0.8);
  border-radius: 10px;
  font-size: 1.429em;
  font-family: 'Rubik', sans-serif;
  box-shadow: 15px 17px 16px #333333;
}


.btn-signup{
  float: left;
  margin-right: 5px;
}





.btn-primary{
  height: 20px;
}

/*Dashboard*/

h1{
  text-align: center;
  color: white;
  font-size: 3.143em;
}

li{
  list-style: none;
}

.panel{
  color: rgba(7, 56, 71, 1);
}

.panel-heading{
  font-size: 18px;
}

.panel-body{
  text-align: center;
  font-size: 16px;
}


span{
  margin-right: 10px;
  font-weight: bolder;
  text-decoration: underline;
}

.btn{
  margin-top: 10px;
  color: white;
  width:48%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.429em;
  font-family: 'Rubik', sans-serif;
  box-shadow: 15px 17px 16px #333333;
}

.btn-postJob{
  float: left;
  margin-right: 18px;
  background-color: rgba(72, 242, 174, 1);
}

.btn-requestJob{
  clear: both;
  background-color: rgba(7, 56, 71, 1);
}

.link {
  font-size: 10px;
}

table{
  text-align: left;
}

/*Job Form*/
.btn-block{
  width:100%;
  height: 30px;
}

/*Job Postings*/
.breadcrumb{
  width: 100%;
}
.col-md-8{
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  }

.jobpostings{
  height: 700px;
}

.listingHeader{
  text-align: center;
}

/*Job Profile*/
