



.glyphicon {
  margin-bottom: 10px;margin-right: 10px;
}

small {
display: block;
line-height: 1.428571429;
color: #999;
}


.carousel-inner img{
  width:120%;
}

body {
  color: #5a5a5a;
  font: 1.000em 'Futura', sans-serif;
}


a {
  color: #44b6c3;
}


.logo{
  width:20%;
  height: 35px;
  margin-top: -5px;

}


.navbar-brand{
  color: #44b6c3;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  /*background-color: rgba(0, 0, 0, 0.6);*/
  border-radius: 10px;
  margin-top: -10px:
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color: #44b6c3;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px;
}

a.btn-primary{
  border: 3px solid rgba(25, 168, 157, 0.9);
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */



.marketing .col-lg-4 {
  margin-bottom: 100px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}







/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }


  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }



  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.panel-heading{
  text-align: center;
  font-weight: bold;
}








.btn-signup{
  float: left;
  margin-right: 5px;
}







/*<-----------------------Dashboard------------------------->*/

h1 .welcome{
  text-align: center;
  color: white;
  font-size: 5.143em;
}

li{
  list-style: none;
}

.panel{
  color: rgba(7, 56, 71, 1);
}

.panel-heading{
  font-size: 18px;
}

.panel-body{
  text-align: center;
  font-size: 16px;
}


span{
  margin-right: 10px;
  font-weight: bolder;
  text-decoration: underline;
}

.dashboard-btn{
  margin-top: 10px;
  color: white;
  width:48%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.429em;
  font-family: 'Futura', sans-serif;
  box-shadow: 15px 17px 16px #333333;
}

.btn-postJob-dash{
  float: left;
  margin-right: 18px;
  background-color: rgba(72, 242, 174, 1);
}

.btn-requestJob{
  clear: both;
  background-color: rgba(7, 56, 71, 1);
}

.link {
  font-size: 10px;
}

table{
  text-align: left;
}

a#editProfile{
  font-size: 0.500em;
}

#picture{
  margin-right: 10px;

}
/*<-----------------------Job Form------------------------->*/
.btn-block{
  width:100%;
  height: 30px;
}

/*<-----------------------Job Postings------------------------->*/
.breadcrumb{
  width: 100%;
}
.col-md-8{
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  }

/*.jobpostings{
  height: 700px;
}*/

.listingHeader{
  text-align: center;
}

.btn-info{

  border: 5px solid rgba(25, 168, 157, 0.9);
  font-size: 1.000em;
}

.findJob{
  font-size: 0.900em;
}


/*<-----------------------Job Profile------------------------->*/




/*<-----------------------Error Apply ------------------------->*/

#alert{
  font-size: 2.000em;
}
